$color-1: rgb(255, 85, 3);
$color-1-lighter: rgb(255, 142, 66);
$color-1-light: rgb(255, 172, 116);
$color-1-darker: rgb(193, 107, 49);
$color-1-dark: rgb(168, 69, 1);


$color-2: rgb(18, 81, 174);
$color-2-lighter: rgb(69, 128, 214);
$color-2-light: rgb(108, 151, 214);
$color-2-darker: rgb(42, 78, 132);
$color-2-dark: rgb(6, 50, 115);

$color-3: rgb(40, 216, 3);
$color-3-lighter: rgb(91, 235, 61);
$color-3-light: rgb(129, 235, 107);
$color-3-darker: rgb(62, 163, 41);
$color-3-dark: rgb(25, 142, 1);


